nav{
display: inline-block;
text-align: right;
/* position:static; */
width: 100%;
background-color:#f34573;
padding:10px;
}
#nav{
  position: sticky;
  overflow: hidden;
}

nav>ul>li{
  display: inline;
  /* text-decoration: none; */
  font-size:1.3em;
  padding-left:52px;
}
nav>ul>li>a{
  display:inline-block;
  text-decoration: none;
}
#con{
  margin-right:20px;
}
li a:hover{
color: darkorchid;

}
#intro{
 font-size:2em;
  display:flex;
  flex-direction:row;
  padding-top: 120px;
  line-height: 170%;
}
#intro>img{
  padding-right: 20px;
}
#about{
  padding-top: 32px;
}
#projects{
  background-color: black;
  font-size:2em;
  display: block;
  padding-top: 2px;
  color: beige;

}

